# Keil MDK build artifacts
MDK-ARM/CAQ_Card/*.o
MDK-ARM/CAQ_Card/*.d
MDK-ARM/CAQ_Card/*.crf
MDK-ARM/CAQ_Card/*.axf
MDK-ARM/CAQ_Card/*.htm
MDK-ARM/CAQ_Card/*.lnp
MDK-ARM/CAQ_Card/*.dep
MDK-ARM/CAQ_Card/*.map
MDK-ARM/CAQ_Card/*.lst
MDK-ARM/CAQ_Card/*.iex
MDK-ARM/CAQ_Card/*.build_log.htm
MDK-ARM/CAQ_Card/CAQ_Card.hex
MDK-ARM/CAQ_Card/CAQ_Card.sct
MDK-ARM/CAQ_Card/DebugConfig/
MDK-ARM/CAQ_Card/RTE/

# List files
*.lst

# Claude Code
.claude/

# IDE temp files
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
